
.nav-top {
    position: fixed;
    height: 100px;
    width: 100%;
    z-index: 9999;
}


/* NAVBAR TEXT */

div#logo-container {

    font-family: Trim, arial, serif;
    color: white;
    font-size: 4em;
    letter-spacing: -0.1em;
    font-weight: 400;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 20px;
    margin-top: 8px;

}

/* LOGO TEXT ON HOVER */

div#logo-container:hover > span {
    color: #34e89e;
    text-shadow: 1px 1px 2px #9132F0
}


span.sup {
    position: relative;
    font-family: Trim, arial, serif;
    font-size: 0.7em;
    top: -10px;
}

div.menu-option {
    display: none;
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    margin-right: 20px;
    margin-top: 20px;
    transition-duration: 0.5s;
    cursor: pointer;
}

div.menu-option:hover {
    transform: rotateY(45deg);
}

div.menu-option > div {
    padding: 3px 25px;
    margin: 8px 8px;
    display: block;
    background-color: #ffffff;
    border-radius: 3px;

}