.scroll-icon {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.scroll-icon > img {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 20px 0;
    filter: invert(100%);
    animation: 0.5s scroll-anim infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

@keyframes scroll-anim {
    from {opacity: 0;
        transform: translateY(10%)}
    to {opacity: 1;
        transform: translateY(0%)}
}